<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>
    <!--Jquery Datepicker-->
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
   

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/scrolling-nav.css" rel="stylesheet" />
    <!-- css file-->
    <link rel="stylesheet" href="~/Content/Style.css" />
    <!-- fontawsem link cdn-->
    

        <script defer src="~/fontawesome/js/all.js"></script> <!--load all styles -->

    
    <link href="~/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
    <!-- Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="  navbar navbar-expand-lg navbar-dark bg-primary fixed-top " id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><span style=" color: #870000 !important;
        font-weight: bold;
        font-family: verdana !important;
        font-size: 23px;
    "><i>PRO </i></span><b>Gym</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="~/Admin/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="~/Trainee/ShowTrainees">Trainees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="~/Coach/ShowCoach">Coaches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="~/Report/ShowReports">Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="~/Admin/ShowAdmin">Admins</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="~/Admin/LogOut">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <section id="home">
        <div class="container">
            <div class="row">

                @RenderBody()

            </div>
        </div>
    </section>
 
    <!-- java script bootstrap link cdn-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
  

    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <!-- Custom JavaScript for this theme -->
    <script src="~/Scripts/scrolling-nav.js"></script>

    <!--Jquery validation-->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    @RenderSection("scripts", false)
</body>

</html>
